<h1>Information, welche die Angular APP vom MS Graph API direkt geholt hat:</h1>
<div>
    <p><strong>First Name: </strong> {{profile?.givenName}}</p>
    <p><strong>Last Name: </strong> {{profile?.surname}}</p>
    <p><strong>Email: </strong> {{profile?.mail}}</p>
    <p><strong>Id: </strong> {{profile?.id}}</p>
    <p><strong>Firma: </strong> {{profile?.companyName}}</p>
</div>

<h1>Information, welche die Angular APP vom Spring Backend API auf http://localhost:8080/Admin geholt hat:</h1>
<div>Nur zugänglich für User die die Rolle F_Admin haben </div>
<h3>Ein Leistungserbringer:</h3>

<div>
    <p><strong>First Name: </strong> {{lerb?.givenName}}</p>
    <p><strong>Last Name: </strong> {{lerb?.surname}}</p>
    <p><strong>Email: </strong> {{lerb?.userPrincipalName}}</p>
    <p><strong>Id: </strong> {{lerb?.id}}</p>
</div>


<h1>Information, welche die Angular APP vom Spring Backend API auf http://localhost:8080/Admin, welches diese vom Graph API geholt hat:</h1>
<div>Nur zugänglich für User die die Rolle F_Admin haben </div>
<h3>Ein Leistungserbringer:</h3>

<div>
    <p><strong>First Name: </strong> {{graphbe?.givenName}}</p>
    <p><strong>Last Name: </strong> {{graphbe?.surname}}</p>
    <p><strong>Email: </strong> {{graphbe?.userPrincipalName}}</p>
    <p><strong>Id: </strong> {{graphbe?.id}}</p>
</div>
